
/* overall styling */
body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   width: 80%;
   max-width: 800px;
   min-width: 300px;
   margin-left: 10px;
   margin-right: auto;
   font-size: 12pt;
}


/* text styles */
a {
    text-decoration: underline dotted #222;
    /*text-decoration: none;*/
    color: black;
}
a:hover {
    color: #fff;
    background-color: black;
    text-decoration: none;
} 


/* unordered lists */
ul {
    list-style: square;
    padding-left: 5px;
}

ul>li {
    /*border-left: 2px dotted black;*/
    margin-left: 15px;
    margin-bottom: 5px;
}

blockquote {
    background: #EEE;
    border: 2px solid black;
    padding: 5px;
}
blockquote div.sourceCode {
    border-left: 1px dotted black;
    padding-left: 10px;
}

/* .contentblock */
.contentblock {
    padding-left: 40px;
}


/* callout divs */
.callout {
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 20px;
}

.callout blockquote {
    border: none;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}

.callout h2 {
    font-size:14pt;
    font-weight: 900;
}

/* Challenge and solution */
.challenge {
    border-left: 4px solid black;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.challenge h2 {
    margin-left: -15px;
    margin-top: 0;
    font-size: 20pt;
    padding: 0;

}


/* code */
pre.sourceCode {
    background-color: #EEE;
    font-size: 90%;
}
p code {
    background-color: #EEE;
    font-size: 90%;
}

.solution {
    border-left: 4px solid black;
    padding-left: 20px;
    margin-bottom: 20px;
}

.solutiontitle {
    cursor: pointer;
}

.solutionbody {
    display: none;
}

.solutiontitle:focus + .solutionbody {
    display: block;
}
.solutiontitle::after {
    content: "(click to show)";
}

